/* General setting */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav setting */

header.Primo-blocco{
  background-color: grey;
  height: 200px;
}

nav.nav-upper::after{
  display: table;
  content: "";
  clear: both;
}
