/* General setting */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav setting */



header.Primo-blocco1{
background-color: lightblue;
height: 142px;
}




nav.nav-upper{
margin-left: 150px;
margin-right: 150px;
height: 71px;


}

nav.nav-upper::after{
  display: table;
  content: "";
  clear: both;
}

/* Layout prima parte superiore */
.Float{
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

/* layout seconda parte superiore */


.Float2{
  float: right;
  margin-top: 30px;
}

.Box{
  background-color: white;
  border: 1px solid red;
  height: 30px;
  border-radius: 5px;
}

li{
  display: inline-block;
  margin-left: 30px;
}


.Access {
  color: red;
  text-align: center;
}

.Box2{
  background-color: red;
  border-radius: 5px;
  width: 150px;
  height: 30px;
}

.Promo{
  color: white;
  text-align: center;
}

hr{
  border: 1px solid black;
  margin-top: 10px;
}

/* Layout prima parte inferiore */
.Contaner1{
  background-color: white;
}



  nav.nav-lower{
  height: 71px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: white;
}

nav.nav-lower::after{
  clear: both;
  content: "";
  display: table;

}

nav.nav-lower img{
  height: 60px;
  width: 60px;
  float: left;
  margin-left: 20px;
}

.Float3{
  float: right;
  margin-top: 23px;

}

/* Layout main */
.Contaner2{
  position: relative;
}

.Screen{
  position: absolute;
  z-index: 10;
}
