/* General setting */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav setting */



header.Primo-blocco1{
background-color: lightblue;
height: 142px;
}




nav.nav-upper{
margin-left: 150px;
margin-right: 150px;
height: 71px;
}

nav.nav-upper li{
  display: inline-block;
}

nav.nav-upper::after{
  display: table;
  content: "";
  clear: both;
}

/* Layout prima parte superiore */
.Float{
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

/* layout seconda parte superiore */


.Float2{
  float: right;
  margin-top: 30px;
}



i.fas.fa-search{
  margin-right: 30px;
}

.Box{
  background-color: white;
  border: 1px solid red;
  height: 30px;
  border-radius: 5px;
  margin-right: 30px;
}

nav.nav-lower li{
  display: inline-block;
  margin-left: 30px;
}


.Access {
  color: red;
  text-align: center;
}

.Box2{
  background-color: red;
  border-radius: 5px;
  width: 150px;
  height: 30px;
}

.Promo{
  color: white;
  text-align: center;
}

hr.first-line{
  border: 1px solid black;
  margin-top: 10px;
}

/* Layout prima parte inferiore */
.Contaner1{
  background-color: white;
}



  nav.nav-lower{
  height: 71px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: white;
}

nav.nav-lower::after{
  clear: both;
  content: "";
  display: table;

}

nav.nav-lower img{
  height: 60px;
  width: 60px;
  float: left;
  margin-left: 20px;
}

.Float3{
  float: right;
  margin-top: 23px;

}

/* Layout main */
.contaner2{
  position: relative;
  height: 690px;
  background-image: url("img/jumbotron.png");
  background-size: cover;
  background-position: center;
}

.layover{
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100%;

}

.content{
  position: absolute;
  top: 30px;
  left: 135px;
  width: 380px;
  height: 100px;
  transform: translate(10%, -100%);

}


.title{
font-family: 'Roboto', sans-serif;
}

.description{
  margin-top: 20px;
}

.Box3{
  background-color: red;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  text-align: center;

}

.Promo2{
  color: white;
  text-align: center;
  padding-top: 15px;
}

/* Layout footer primo blocco */
 footer.Primo-blocco3{
   background-color: blue;
   height: 125px;
 }

 hr{
   border: 1px solid black;
 }

 /* Header secondo blocco */


.Contaner6{
  background-color: lightblue
}

header.Secondo-blocco{
  margin: auto;
  width: 50%;
}

.Kubrick{
  padding-left: 215px;
}

.Text-Kubrick{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Main secondo blocco */



.Hubspot{

  margin-left: 175px;
  margin-right: 175px;
  padding-left: 100px;
  position: relative;
  background-color: white;
  height: 280px;
}

/* Layotu Hubspot Right */

.Hubspot-right{
  width: 350px;
  padding-top: 20px;
}

.Hubspot-right img {
  height: 96px;
  margin-left: 65px;
  margin-top: 20px;
}



.Learn{
  background-color: red;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  margin-left: 60px;
}

.text-learn{
  color: white;
  text-align: center;
  padding-top: 15px;

}

.Hubspot-left{

  width: 550px;
  position: absolute;
  top: 0;
  margin-left: 350px;
  padding-top: 39px;
}

.Title-Hubspot{
 text-shadow: 1px 1px 2px black;
}

.Info-promo{
  margin-top: 25px;
}

.Feature{
  margin-top: 20px;
}

.Barra {
    border: 1px solid red;
    width: 250px;
    position: absolute;
    top: 160px;
    left: 210px;
}

.Hubapot-left{
  clear: both;
  display: table;
  content: "";
}

.list-icon{
  display: inline-block;
  margin-left: 20px;
}

.Float4{
  float: Left;
  margin-top: 23px;

}

i.fab.fa-algolia{
  margin-right: 30px;
  color:red;
}


/* Layout footer */

footer.Secondo-blocco{
  margin-left: 175px;
  margin-right: 175px;
}

footer.Secondo-blocco::after{
  clear: both;
  content: "";
  display: table;
}

.Float6{
  margin-top: 30px;
  height: 700px;
  float: left;
  background-color: white;
  margin-bottom: 30px;
}


.col-left{
  width: 31.5%;
  margin-right: 1.5%;
  border: 1px solid red;
}

.col-center{
 width: 31.5%;
 margin-right: 1.5%;
 border: 1px solid red;
}

.col-right{
  width: 31.5%;
  border: 1px solid red;
  margin-left: 2.5%;
}

footer.Secondo-blocco img{
  margin-left: 36px;
}

.Title-Hubspot2{
  text-shadow: 1px 1px 2px black;
  text-align: center;
  margin-top: 10px;
}

.Info-promo2{
  text-align: center;
  margin-top: 10px;
}

.Linea3{
  border: 1px solid black;
  margin: 0 15px;
  margin-top: 60px;
}

.Info-Feat{
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Lista-10{
 text-decoration: none;
 margin-left: 20px;
}

i.fas.fa-ad{
  color: orange;
  margin-right: 20px;
}
/* Layout terzo blocco */

main.Terzo-blocco{
margin: 0 150px;
}

.Contaner10{
  background-color:blue;
  height:500px;
}

.Lorem{
  text-align: center;
  color: white;
}

.Lorem2{
  margin-top: 20px;
  font-size: 12px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.contaner12{

}

.row{
  margin-bottom: 20px;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.COL{
  float: left;
  width: 33.33%;
  padding: 0 20px;
}
.Product{
  position: relative;
}
